<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#161625">

	<link rel="icon" href="https://d3ward.github.io/assets/icon.svg" type="image/svg+xml">
	<link rel="icon" type="image/png" sizes="16x16" href="https://d3ward.github.io/assets/favicon-16x16.png">
	<link rel="apple-touch-icon" sizes="180x180" href="https://d3ward.github.io/assets/apple-touch-icon.png">
	<link rel="manifest" href="https://d3ward.github.io/site.webmanifest">
	<link rel="mask-icon" href="https://d3ward.github.io/assets/safari-pinned-tab.svg" color="#0074d9">
	<link rel="shortcut icon" href="https://d3ward.github.io/assets/favicon.ico">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-config" content="https://d3ward.github.io/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

    <title><%= title %></title>
  	<meta name="author" content="Ursu Eduard Cornelius">
	<meta name="description" content="<%= description %>">
	<meta name="keywords" content="Eduard Ursu,d3ward,github,<%= keywords %>">
	<!-- Google / Search Engine Tags -->
	<meta itemprop="name" content="<%= title %>">
	<meta itemprop="description" content="<%= description %>">
	<meta itemprop="image" content="https://d3ward.github.io/assets/preview_thumbnail.png">
	<!-- Open Graph Tags -->
	<meta property="og:url" content="<%= url %>">
	<meta property="og:type" content="website">
	<meta property="og:title" content="<%= title %>">
	<meta property="og:description" content="<%= description %>">
	<meta property="og:image" content="https://d3ward.github.io/assets/preview_thumbnail.png">

	<!-- Twitter Meta Tags -->
	<meta name="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="<%= url %>">
	<meta name="twitter:title" content="<%= title %>">
	<meta name="twitter:description" content="<%= description %>">
	<meta name="twitter:image" content="https://d3ward.github.io/assets/preview_thumbnail.png">
	<meta name="google-site-verification" content="xfQqUB8pw6Lm-7uMYXF5Rhrv85busGX1lfBrAGL90UI" />

	<script async src="https://d3-umami.up.railway.app/script.js" data-website-id="d4ed21a8-c963-4f2f-bd84-a6d9ff561456"></script>

</head>